<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>project_coma</display-name>
  
  <!-- 서블릿과 특정 가상 경로를 연결하자.. 
  	servlet-name : 논리적 이름(별칭)
  	servlet-class : 패키지명 포함 클래스 이름 (.class빼고)
  	url-pattern: 경로지정
  	
  	예: /servlet/basic/test01 호출하려면??
  	http://localhost:8000/웹프로젝트명/servlet/basic/test01
  	http://localhost:8000/08_servletjsp/servlet/basic/test01
  	
  -->
 
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>